.infra: &infra
  tags:
    - t3.small
    - traverseinfra

stages:
  - build

image_handler_lambda:
  <<: *infra
  image: docker
  stage: build
  variables:
    IMAGE_HANDLER_ZIP: $CI_PROJECT_DIR/sharp-image-handler-$CI_JOB_ID.zip
  artifacts:
    paths:
      - $IMAGE_HANDLER_ZIP
  script:
    - docker run --rm -i -v $PWD:/development -w /development amazonlinux:2018.03 ./package.sh
    - mv deployment/dist/image-handler.zip $IMAGE_HANDLER_ZIP
